@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable text selection for app-like feel */
body {
  user-select: none;
  -webkit-user-select: none;
  background-color: #020617; /* slate-950 */
}
